/* estilos generales */
body {
  margin: 0; /* elimina el margen predeterminado del cuerpo */
  font-family: "Roboto", sans-serif; /* establece la fuente principal como Roboto o una fuente sans-serif similar */
  font-weight: 100; /* define el peso de la fuente */
  font-style: normal; /* establece el estilo de la fuente como normal */
  font-size: 15px; /* establece el tamaño de la fuente en 15px */
    background-image: url(/front/Assets/body/Shiny\ Overlay.svg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el cuerpo */
}

/* barras de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 3px solid #666;
}

/* estilos generales del encabezado */
header {
  background-color: #1a1a1a; /* color de fondo del encabezado */
  padding: 20px; /* espaciado interno del encabezado */
  text-align: center; /* centra el contenido del encabezado */
}

/* barra de navegación */
.navbar {
  display: flex; /* hace que los elementos dentro del navbar sean flexibles */
  justify-content: space-between; /* distribuye horizontalmente los elementos del encabezado */
  align-items: center; /* alinea verticalmente los elementos del encabezado */
}

/* título del encabezado */
.title {
  color: white; /* color del título */
  font-size: 36px; /* tamaño del texto del título */
  cursor: pointer; /* cambia el cursor al pasar por encima del título */
  transition: color 0.3s; /* transición suave para el cambio de color del título */
}

.title:hover {
  color: #ccc; /* cambio de color al pasar el cursor sobre el título */
}

/* elementos de la lista de navegación */
.navbar-right ul {
  list-style-type: none; /* elimina las viñetas de la lista de navegación */
  margin: 0;
  padding: 0;
}

.navbar-right li {
  display: inline; /* muestra los elementos de la lista de navegación en línea */
  margin-left: 10px; /* espacio entre los elementos de la lista de navegación */
}

/* botones de navegación */
.nav-button {
  background-color: #555; /* color de fondo inicial de los botones de navegación */
  border: none; /* sin borde */
  color: white; /* color del texto de los botones de navegación */
  padding: 10px 20px; /* espaciado interno de los botones de navegación */
  text-align: center; /* centra el texto de los botones de navegación */
  text-decoration: none; /* sin subrayado */
  display: inline-block; /* muestra los botones de navegación en línea */
  font-size: 16px; /* tamaño del texto de los botones de navegación */
  cursor: pointer; /* cambia el cursor al pasar por encima de los botones de navegación */
  border-radius: 5px; /* borde redondeado */
  transition: background-color 0.3s; /* transición suave para el cambio de color de fondo */
}

.nav-button:hover {
  background-color: #777; /* cambio de color de fondo al pasar el cursor sobre los botones de navegación */
}

/* títulos y contenido */
h1 {
  text-align: center; /* centra el texto del nivel 1 del encabezado */
  font-size: 29px; /* tamaño del texto del nivel 1 del encabezado */
  margin-bottom: 10px; /* margen inferior del título */
  color: #ccc; /* color del texto del título */
}

.content {
  max-width: 800px; /* ancho máximo del contenido */
  margin: 0 auto; /* centra el contenido horizontalmente */
  padding: 20px; /* espaciado interno del contenido */
}

.content h2 {
  font-size: 24px; /* tamaño del texto del nivel 2 del contenido */
  margin-bottom: 10px; /* margen inferior del título del nivel 2 */
  color: #ccc; /* color del texto del título del nivel 2 */
}

.content p {
  font-size: 20px; /* tamaño del texto del párrafo */
  line-height: 1.5; /* altura de línea del párrafo */
  margin-bottom: 20px; /* margen inferior del párrafo */
  color: #ccc; /* color del texto del párrafo */
}

/* contenedor de las imágenes */
.imge {
  display: flex; /* hace que los elementos dentro de .imge sean flexibles */
  flex-wrap: wrap; /* permite que los elementos dentro de .imge se envuelvan a una nueva línea si no caben */
}

/* tarjetas de película */
.card {
  flex: 1 0 200px; /* hace que las tarjetas sean flexibles y tengan un ancho máximo de 200px */
  margin: 5px; /* margen alrededor de las tarjetas */
  position: relative; /* establece la posición de las tarjetas como relativa */
  overflow: hidden; /* oculta el contenido que se desborda de las tarjetas */
}

.card img {
  width: 100%; /* establece el ancho de la imagen al 100% del contenedor */
  height: auto; /* mantiene la relación de aspecto de la imagen */
  transition: opacity 0.3s ease; /* transición suave para el cambio de opacidad de la imagen */
}

.card:hover img {
  opacity: 0.8; /* reduce la opacidad de la imagen al pasar el cursor sobre la tarjeta */
  cursor: pointer; /* cambia el cursor al pasar por encima de la tarjeta */
}

.card::before {
  content: ""; /* inserta un contenido antes del contenido real de la tarjeta */
  position: absolute; /* establece la posición absoluta del pseudo-elemento */
  top: 0; /* alinea el pseudo-elemento en la parte superior */
  left: 0; /* alinea el pseudo-elemento en la parte izquierda */
  width: 100%; /* ancho completo */
  height: 100%; /* altura completa */
  background: rgba(0, 0, 0, 0.5); /* fondo semi-transparente */
  opacity: 0; /* opacidad inicial */
  transition: opacity 0.3s ease; /* transición suave para el cambio de opacidad */
}

.card:hover::before {
  opacity: 1; /* aumenta la opacidad del pseudo-elemento al pasar el cursor sobre la tarjeta */
}

.card::after {
  content: " "; /* inserta un contenido después del contenido real de la tarjeta */
  position: absolute; /* establece la posición absoluta del pseudo-elemento */
  top: 50%; /* alinea el pseudo-elemento en la mitad verticalmente */
  left: 50%; /* alinea el pseudo-elemento en la mitad horizontalmente */
  transform: translate(-50%, -50%); /* centra el pseudo-elemento */
  color: #fff; /* color del texto del pseudo-elemento */
  font-size: 20px; /* tamaño del texto del pseudo-elemento */
  opacity: 0; /* opacidad inicial */
  transition: opacity 0.3s ease; /* transición suave para el cambio de opacidad */
}

.card:hover::after {
  opacity: 1; /* aumenta la opacidad del pseudo-elemento al pasar el cursor sobre la tarjeta */
}

/* estilos para dispositivos móviles */
@media (max-width: 600px) {
  .card {
    flex: 1 0 100%; /* hace que las tarjetas ocupen todo el ancho en dispositivos con un ancho máximo de 600px */
  }
}

/* estilos del pie de página */
footer {
  background-color: #1a1a1a; /* color de fondo del pie de página */
  padding: 10px; /* espaciado interno del pie de página */
  position: fixed; /* fija el pie de página en la parte inferior de la ventana */
  bottom: 0; /* alinea el pie de página en la parte inferior */
  left: 0; /* alinea el pie de página en la parte izquierda */
  width: 100%; /* ancho completo */
  height: 6%;
  box-sizing: border-box; /* incluye el borde y el relleno en el ancho y alto total */
  border-top: 1px solid #131212; /* borde superior del pie de página */
  display: flex; /* hace que los elementos dentro del pie de página sean flexibles */
  justify-content: space-between; /* distribuye horizontalmente los elementos */
  align-items: center; /* alinea verticalmente los elementos */
  margin: 0 0px; /* margen a ambos lados del pie de página */
}

/* contenido del pie de página */
.footer-content p {
  margin: 0; /* elimina el margen predeterminado del párrafo */
  font-size: 18px; /* tamaño del texto del párrafo */
  color: #0a0a0a; /* color del texto del párrafo */
  transition: color 0.3s; /* transición suave para el cambio de color */
}

/* iconos sociales */
.social-icons .icon {
  color: #e7dfdf; /* color del icono */
  font-size: 20px; /* tamaño del icono */
  margin-left: 10px; /* margen a la izquierda del icono */
  transition: color 0.3s, transform 0.3s; /* transición suave para el cambio de color y transformación */
}

.social-icons .icon:hover {
  color: #007bff; /* cambio de color al pasar el cursor sobre el icono */
  transform: scale(
    1.2
  ); /* aumenta el tamaño del icono al pasar el cursor sobre él */
}
