/* resetear los márgenes del cuerpo del documento */
body {
  margin: 0; /* establece los márgenes del cuerpo del documento en 0 */
  font-family: "Roboto", sans-serif; /* define la fuente del texto */
  font-weight: 100; /* define el peso de la fuente */
  font-style: normal; /* define el estilo de la fuente */
  /* establece el tamaño de la fuente en 15px */
  font-size: 15px; /* ajusta el tamaño de la fuente según sea necesario */
   background-image: url(/front/Assets/body/Shiny\ Overlay.svg);
  background-size: cover; /* Ajusta la imagen para cubrir todo el cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el cuerpo */
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 20px;
  border: 3px solid #666;
}

/* estilos generales del header */
header {
  background-color: #1a1a1a; /* establece el color de fondo del encabezado */
  padding: 20px; /* define el espaciado interno del encabezado */
  text-align: center; /* centra el contenido del encabezado */
}

.navbar {
  display: flex;
  justify-content: space-between; /* distribuye horizontalmente los elementos del encabezado */
  align-items: center; /* alinea verticalmente los elementos del encabezado */
}

.title {
  color: white; /* establece el color del título */
  font-size: 36px; /* define el tamaño del texto del título */
  cursor: pointer; /* cambia el cursor al pasar por encima del título */
  transition: color 0.3s; /* agrega una transición suave para el cambio de color del título */
}

.title:hover {
  color: #ccc; /* cambia el color al pasar el cursor sobre el título */
}

.navbar-right ul {
  list-style-type: none; /* elimina los puntos de la lista de navegación */
  margin: 0;
  padding: 0;
}

.navbar-right li {
  display: inline; /* muestra los elementos de la lista de navegación en línea */
  margin-left: 10px; /* define el espacio entre los elementos de la lista de navegación */
}

/* estilos de los botones de navegación */
.nav-button {
  background-color: #555; /* establece el color de fondo inicial de los botones de navegación */
  border: none; /* sin borde */
  color: white; /* color del texto de los botones de navegación */
  padding: 10px 20px; /* espaciado interno de los botones de navegación */
  text-align: center; /* centra el texto de los botones de navegación */
  text-decoration: none; /* sin subrayado */
  display: inline-block; /* muestra los botones de navegación en línea */
  font-size: 16px; /* tamaño del texto de los botones de navegación */
  cursor: pointer; /* cambia el cursor al pasar por encima de los botones de navegación */
  border-radius: 5px; /* borde redondeado */
  transition: background-color 0.3s; /* transición suave para el cambio de color de fondo */
}

.nav-button:hover {
  background-color: #777; /* cambio de color de fondo al pasar el cursor sobre los botones de navegación */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow-x: hidden;
  color: #ccc;
  font-size: 25px;
}

.container h1 {
  font-size: 35px;
  color: #ccc;
}

.content {
  margin-top: 20px;
}

.content h2 {
  font-size: 30px;
  color: #333;
}

.content p {
  font-size: 20px;
  color: #ccc;
}

.technologies {
  margin-top: 40px;
}

.technologies h2 {
  font-size: 24px;
  color: #ccc;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  margin: 5%;
  flex-wrap: wrap; /* permite que los elementos de la galería se ajusten a diferentes tamaños de pantalla */
}

.card {
  flex: 0 0 calc(33.333% - 20px); /* divide el espacio de las tarjetas, para que haya tres por fila en pantallas más grandes */
  width: 100px;
  height: 100px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-bottom: 20px; /* define el espacio entre las tarjetas */
}

.card:hover {
  transform: scale(
    1.05
  ); /* aumenta ligeramente el tamaño de la tarjeta al pasar el cursor sobre ella */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* agrega una sombra más pronunciada */
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 10px; /* reduce el relleno del contenedor en pantallas medianas */
  }

  .card {
    flex: 0 0 calc(50% - 20px); /* para que haya dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 calc(100% - 20px); /* para que haya una tarjeta por fila en pantallas pequeñas */
  }
}

footer {
  background-color: #1a1a1a;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6%;
  box-sizing: border-box;
  border-top: 1px solid #131212;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  color: #e7dfdf;
  font-size: 18px;
  margin: 0 0px; /* agrega margen a ambos lados de la pantalla */
}

.footer-content p {
  margin: 0; /* elimina el margen predeterminado del párrafo */
  font-size: 18px;
  color: #0a0a0a;
  transition: color 0.3s; /* agrega una transición de color */
}

.social-icons .icon {
  color: #e7dfdf;
  font-size: 20px;
  margin-left: 10px;
  transition: color 0.3s, transform 0.3s;
}

.social-icons .icon:hover {
  color: #007bff;
  transform: scale(1.2);
}
