/* Estilos CSS */

/* Resetear los márgenes del cuerpo del documento */
body {
  margin: 0; /* Sin márgenes */
  font-family: "Roboto", sans-serif; /* Fuente principal */
  font-weight: 100; /* Peso de la fuente */
  font-style: normal; /* Estilo de la fuente */
  /* Establece el tamaño de la fuente en 15px */
  font-size: 15px; /* Aumenta el tamaño de la fuente según sea necesario */
  background-color: #121212; /* Color de fondo del cuerpo del documento */
  background: url(/front/Assets/cool-background.png); /* Imagen de fondo */
}

/* Estilos generales del header */
header {
  background-color: #1a1a1a; /* Color de fondo del encabezado */
  padding: 20px; /* Espaciado interno del encabezado */
  text-align: center; /* Centrado del contenido del encabezado */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Distribución horizontal de los elementos del encabezado */
  align-items: center; /* Alineación vertical de los elementos del encabezado */
}

.title {
  color: white; /* Color del título */
  font-size: 36px; /* Tamaño del texto del título */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: color 0.3s; /* Transición suave para el cambio de color del título */
}

.title:hover {
  color: #ccc; /* Cambio de color al pasar el cursor sobre el título */
}

.navbar-right ul {
  list-style-type: none; /* Elimina las viñetas de la lista de navegación */
  margin: 0;
  padding: 0;
}

.navbar-right li {
  display: inline; /* Muestra los elementos de la lista de navegación en línea */
  margin-left: 10px; /* Espacio entre los elementos de la lista de navegación */
}

/* Estilos de los botones de navegación */
.nav-button {
  background-color: #555; /* Color de fondo inicial de los botones de navegación */
  border: none; /* Sin borde */
  color: white; /* Color del texto de los botones de navegación */
  padding: 10px 20px; /* Espaciado interno de los botones de navegación */
  text-align: center; /* Centrado del texto de los botones de navegación */
  text-decoration: none; /* Sin subrayado */
  display: inline-block;
  font-size: 16px; /* Tamaño del texto de los botones de navegación */
  cursor: pointer; /* Cambia el cursor al pasar por encima de los botones de navegación */
  border-radius: 5px; /* Borde redondeado */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.nav-button:hover {
  background-color: #777; /* Cambio de color de fondo al pasar el cursor sobre los botones de navegación */
}

.container {
  margin: 100px; /* Margen exterior */
  display: flex;
  justify-content: space-evenly;
  padding: 20px; /* Espaciado interno */
}

.gallery {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos de la galería se ajusten a la línea */
  gap: 20px; /* Espacio entre elementos de la galería */
  animation: move 5s infinite alternate; /* Animación de la galería */
}

@keyframes move {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(20px, 10px, -10px);
  }
  50% {
    transform: translate3d(-10px, 20px, 10px);
  }
  75% {
    transform: translate3d(10px, -10px, 20px);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.card {
  width: 100px; /* Ancho de las tarjetas */
  height: 100px; /* Alto de las tarjetas */
  background-color: #fff; /* Color de fondo de las tarjetas */
  border-radius: 10px; /* Borde redondeado */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: all 0.3s ease; /* Transición suave para todos los cambios */
}

.card:hover {
  transform: scale(1.05); /* Escala al pasar el cursor sobre las tarjetas */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Sombra aumentada */
}

.card:hover img {
  animation: spin 0.5s linear infinite; /* Animación de rotación de la imagen al pasar el cursor */
}

@keyframes spin {
  100% {
    transform: rotate(360deg); /* Rotación completa */
  }
}

img {
  width: 70px; /* Ancho de las imágenes */
  height: 60px; /* Alto de las imágenes */
}

.recommendation {
  text-align: center;
  margin-top: 200px; /* Margen superior */
}

.recommendation p {
  font-size: 30px; /* Tamaño del texto */
  color: #e9e3e3; /* Color del texto */
  font-weight: bold; /* Peso de la fuente */
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column; /* Cambia la dirección de la galería a columna */
    align-items: center; /* Centra los elementos de la galería */
  }
}

footer {
  background-color: #1a1a1a; /* Color de fondo del pie de página */
  padding: 10px; /* Espaciado interno */
  position: fixed; /* Posición fija */
  bottom: 0; /* En la parte inferior */
  left: 0; /* A la izquierda */
  width: 100%; /* Ancho completo */
  height: 9%;
  box-sizing: border-box; /* El tamaño incluye el borde */
  border-top: 1px solid #131212; /* Borde superior */
  display: flex;
  font-size: 18px;
  color: #e7dfdf;
  justify-content: space-between; /* Distribución horizontal */
  align-items: center; /* Alineación vertical */
  margin: 0 0px; /* Margen a ambos lados de la pantalla */
}

.footer-content p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  font-size: 18px; /* Tamaño del texto */
  color: #0a0a0a; /* Color del texto */
  transition: color 0.3s; /* Agrega una transición de color */
}

.social-icons .icon {
  color: #e7dfdf; /* Color de los íconos sociales */
  font-size: 20px; /* Tamaño de los íconos */
  margin-left: 10px; /* Margen izquierdo */
  transition: color 0.3s, transform 0.3s; /* Transiciones suaves para color y transformación */
}

.social-icons .icon:hover {
  color: #007bff; /* Cambio de color al pasar el cursor */
  transform: scale(1.2); /* Aumenta el tamaño al pasar el cursor */
}
